{% extends "base/base.html" %}
{% block content %}
<div class="card mb-3">
    {% for urun in urunler %}
        {% if urun.cover_image %}
            <img src="{{ urun.cover_image.url }}" alt="Card image" class="w-100" style="max-width: 300px; height: auto;">
        {% endif %}
    <div class="card-body">
        <p class="card-text">
            {{ urun.title }}
        </p>
    </div>
    
    <div class="card-body">
        <span>
            {{ urun.price }} ₺
        </span>
        <a href="{% url "shopping_cart_item_add" urun.id %}" class="card-link btn btn-outline-secondary"> Sepete Ekle</a>
      </div>
    {% endfor %}
</div>
{% endblock content %}
