<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="bg-dark">
    <div class="container">
<nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="{% url "index" %}">kaftClone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url "index" %}">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                    Erkek
                </a>
                <div class="dropdown-menu " x-placement="bottom-start" >
                  {% for item in categories %}
                    {% if item.gender == "man" or item.gender == "unisex" %}
                       <a class="dropdown-item" href="{% url 'category_show' category_slug=item.slug %}">{{ item.title }}</a>
                    {% endif %}
                  {% endfor %}
                    
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                    Kadın
                </a>
                <div class="dropdown-menu " x-placement="bottom-start" >
                  {% for item in categories %}
                  {% if item.gender == "woman" or item.gender == "unisex" %}
                  <a class="dropdown-item" href="{% url 'category_show' category_slug=item.slug %}">{{ item.title }}</a>

                  {% endif %}
                {% endfor %}
                  
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="" aria-expanded="">
                    Unisex
                </a>
                <div class="dropdown-menu " x-placement="bottom-start" >
                  {% for item in categories %}
                  {% if  item.gender == "unisex" %}
                    <a class="dropdown-item" href="{% url 'category_show' category_slug=item.slug %}">{{ item.title }}</a>

                  {% endif %}
                {% endfor %}
                  
                    
                </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder='Senin İçin'>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Bul</button>
          </form>
        </div>
      </nav>

    </div>
</div>
</body>
</html>